.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

/* src/App.css */
.app {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: Arial, sans-serif;
}

header {
  background-color: #f1f1f1;
  width: 100%;
  text-align: center;
  padding: 10px 0;
  border-bottom: 1px solid #ccc;
}

.main-content {
  display: flex;
  flex-direction: column;
  width: 80%;
  margin: 20px 0;
}



.tabs {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.tabs button {
  padding: 10px 20px;
  margin: 0 5px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.tabs .active {
  background-color: #007bff;
  color: white;
}

.content {
  display: flex;
}





.sidebar {
  width: 200px;
  padding: 20px;
  background-color: #f9f9f9;
  border-left: 1px solid #ccc;
}

.sidebar div {
  margin-bottom: 10px;
  font-weight: bold;
}

.sidebar ul {
  list-style-type: none;
  padding: 0;
}

.sidebar li {
  margin: 5px 0;
}

.sidebar a {
  color: #007bff;
  text-decoration: none;
}


@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
